/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(238, 237, 237);
    /* border-bottom: 1px solid #000000; เส้นขอบดำ หากต้องการ */
  }
  
  .header i {
    font-size: 50px;
    color: #000000; /* สีไอคอน */
  }
  
  .header h1 {
    color: #c3002f; /* สีข้อความ */
  }
  