/* body, html {
  overflow: hidden;
} */


.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(238, 237, 237);
}

.body div {
  display: flex;
  align-items: center;
}

.body a {
  margin-left: 10px; /* เพิ่มระยะห่างระหว่างลิงก์ "ออกจากระบบ" กับชื่อผู้ใช้ */
}

.body i {
  font-size: 50px;
  color: #000000;
}

.body h1 {
  color: #c3002f;
}

.body p {
  margin-right: 10px; /* เพิ่มระยะห่างขวาสุดของชื่อผู้ใช้ */
}